:root{
    --primary-text-color: #f4f1eb;
    --primary-background-color: #14100b;
    --secondary-color: #9AF9D3;
    --accent-color: #c267fe;
}

a{
    text-decoration: none;
}

.nav-links a{
    
    color: var(--primary-text-color);
}

body{
    background: var(--primary-background-color);
    color: var(--primary-text-color);
    font-family: 'Poppins', sans-serif;
/* font-family: 'Roboto Mono', monospace; */

}
.header{
    background-color: var(--primary-background-color);
    border-bottom: 2px solid;
    border-image: linear-gradient(90deg, #9AF9D3, #C267FE) 100;
    padding: 25px;
    display: flex;
    align-items: center;
}

#logo a{
    color: var(--secondary-color);
    font-size: 32px;
}

.container{
    height: 100vh;
    position: relative;
}

.socials{
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    display: flex;
}
.social-icon img{
    width: 45px;
    margin: 15px;
}

.nav-links{
    margin-left: auto;
    font-size: 24px;
}

.nav-links a{
    padding: 0 20px;
    margin-left: 30px;
}

.contact-links{
    display: flex;
    flex-direction: column;
}

.contact-links a{
    color: var(--primary-text-color);

}

.contact-link{
    font-size: 28px;
    margin-top: 50px;
}

.contact, .experience{
    font-size: 36px;
    margin-bottom: 35px;
}

.theme{
    margin-left: auto;
}

.main{
    text-align: center;
    margin-top: 50px;
}

.project-main{
    text-align: center;
}

.project{
    width: 900px;
    height: 450px;
    background-image: linear-gradient( #c267fe5e, #9af9d379);
    border-radius: 5px;
    /* border: 1px solid #fff; */
    margin: 20px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.project-name{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 36px;
    padding: 10px;
    color: var(--primary-background-color);
}

.project img{
    width: 900px;
    height: 450px;
    object-fit: fill;
    filter: blur(2px);
    /* background-image: linear-gradient(90deg, #9AF9D3, #C267FE) 100; */
    position: relative;
    z-index: -1;
}

.project-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-info-container{
    display: flex;
}

.docs-title{
    font-size: 36px;
    margin-bottom: 30px;
}
.documentation-links{
    text-align: left;
    margin-left: auto;
    margin-right: 100px;
}
.documentation-links a{
    color: #9AF9D3;
    font-size: 24px;
    margin-top: 10px;
}
.project-thumbnail{
    position: relative;

}

.doc-links-container{
    display: flex;
    flex-direction: column;
}

.project-image{
    aspect-ratio: 960 / 161;
    width: 100vw;
    background-image: linear-gradient(#14100b38, #14100b96);

    /* filter: blur(2px); */

   
}
.project-image img{
    position: relative;
    object-fit:fill;
    filter: blur(2px);
    z-index: -1;
}
.project-title{
    text-align: left;
    font-size: 64px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 30px;
}

.description-container{
    width: 900px;
    margin-left: 30px;
}

.project-about{
    text-align: left;
    font-size: 36px;
}

.project-description{
    text-align: left;
    margin-top: 30px;
    font-size: 24px;
}


#name{
    font-size: 128px;
}

#initials{
    font-size: 40px;
}

#description{
    font-size: 32px;
    font-family: 'Roboto Mono', monospace;
    padding: 10px;
    margin-top: 10px;

    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(90deg, #9AF9D3, #C267FE);
    color: transparent;


}

#stop{
    color: var(--secondary-color);
}
