@import "https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

h2 {
  @apply text-3xl;
  @apply bg-gradient-to-r;
  @apply from-[#ff1b6b];
  @apply to-[#3D5CFB];
  @apply inline-block;
  @apply text-transparent;
  @apply bg-clip-text;
}
